<!DOCTYPE html>
<html>
<head>
	<title> Dashboard : Agritech</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.theme.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.structure.min.css"> -->
</head>
<body>


<div id="header">
	<div class="header-wrap max-wrap">
		<a href="" class="logo">
			<img src="/images/logo.png" height="100px" style="margin-top: -30px;">
		</a>
		<div class="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/dashboard/stats">Statistics</a></li>
				<li><a href="/dashboard">Sensors</a></li>
				<li><a href="/dashboard/settings">Settings</a></li>
			</ul>
		</div>
	</div>
</div>


<div id="container">
	<div class="container-wrap max-wrap">